In [1]:
# This is a comment

In [2]:
print("I am a Python developer")
print('Vee is a passionate girl')

I am a Python developer
Vee is a passionate girl

In [3]:
# calculation
print(10+8*7)

66

In [4]:
# adding 2 numbers

print("The addition is ", 4+3)

The addition is  7

In [5]:
# Variables -- names given to the values stored in the memory

a = 4
b = 6

print('The sum of a and b is', a+b)

The sum of a and b is 10

In [6]:
a = 5 # integer variable
name = 'Victory' # string variable
x = 67.5 # decimal value

print(a,name,x)
print(a+x, "and the name is", name)

5 Victory 67.5
72.5 and the name is Victory

In [7]:
# detect the datatype of any variable
print(type(name))

print(type(x))
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>

In [8]:
# type casting -- change the type of any value

c = int(76.4)
print(c)

76

In [9]:
d = float(76)
print(d)

76.0

In [11]:
x = str(5) # '5'
print(x)
print(type(x))

5
<class 'str'>

In [12]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [13]:
c = 5 + 8j
type(c)

complex

In [14]:
c = True
d = False

In [16]:
type(d)

bool

In [25]:
s = "Vee lives in California"
print(s[4])
print(len(s))
print(s[4:8]) # print from 4th index to 7th index
print('live' in s)
print('Akshat' in s)

l
23
live
True
False

In [5]:
x =26
y = 4

if x+y==65:
  print("true")
else:
    print("false")

false

In [ ]:
input("enter your name")

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [25]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [27]:
print(bool("Hello"))
print(bool(15))

True
True

In [29]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [31]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [35]:
x = 200
print(isinstance(x, str))

False

In [37]:
print(10+5)

15

In [51]:
x=2
y=10
print(x%y)

2

In [66]:
if x != y:
    print("x is not equal to y")

x is not equal to y

In [100]:
x==y

False

In [102]:
x is y

False

In [104]:
print((x+y) - (y-x))

16

In [106]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [116]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(type(list2))

<class 'list'>

In [7]:


marks = int(input("enter your marks "))

if marks > 95:
    print("A+")
elif marks > 95 and marks >= 90 :
    print("A")
elif marks < 90 and marks >= 75:
    print("B")
elif marks >= 70:
    print("C")
elif marks >=60:
    print("average")
else:
    print("fail")

average

In [3]:
marks = int(input("enter your marks ")) # by default the input is taken as a string

if marks > 95:
    print("A+")
elif marks > 95 and marks >= 90 :
    print("A")
elif marks < 90 and marks >= 75:
    print("B")
elif marks >= 70:
    print("C")
elif marks >=60:
    print("average")
else:
    print("fail")

enter your marks  56

fail

In [5]:
eng=78
math=65
sci=87
print(eng+math+sci)

230

In [7]:
if (eng+math+sci) >= 180:
    print("A")
elif (eng+math+sci) >= 150:
    print("B")
elif (eng+math+sci) >= 100:
    print("C")
else:
    print("subject not taken")

A

In [33]:
a=15
b="victory"
print("my name is", b)
print(b, "and her neighbour are", a, "years old")

my name is victory
victory and her neighbour are 15 years old

In [37]:
name='bryan'
city='dallas'
state='texas'

print(name, "lives in the city of", city, "located in", state)

bryan lives in the city of dallas located in texas

In [69]:
a=12
b=6
c=2

print("when you divide", a,"by", c, "it gives you", b)

when you divide 12 by 2 it gives you 6

In [85]:
a=76
b=5.2
c= "john"
print(float(a))
print(int(b))
print(int(a*b))
print(str(c))

76.0
5
395
john

In [141]:
percentage=int(input("enter your percentage"))

if percentage > 90 or percentage ==100:
    print("excellent")
elif percentage > 80 or percentage ==89:
    print("very good")
elif percentage > 70 or percentage ==79:
    print("good")
else:
    print("average")

enter your percentage 70

average

In [135]:
z="grind"
print(z[4])
print(len(z))

d
5